.flex-container{ display: flex; 
   

}
    
/* este seletor seleciona todas as divs dentro de*/
.flex-container 
.flex-container div { 
    background: peachpuff; 
    border: 4px solid brown; 
    height: 100px;
    flex: 1; 
    grid-row: "1x", “5x” e “10x” ;
}



.flex-container { display: flex;
}

/* este seletor seleciona todas as divs dentro de
.flex-container */
.flex-container div { background: peachpuff; border: 4px solid brown; height: 100px;
flex: 1 1 0%;
}

/* apenas div.two está selecionado aqui */
.flex-container .two { flex: 2 1 0%;
}


.flex-container { display: flex;
}

/* este seletor seleciona todas as divs dentro de
.flex-container */

.flex-container div { background: peachpuff; border: 4px solid brown; height: 100px;
width: 250px; flex: 1 1 auto;
grid-column: auto;

}

.flex-container .two { flex-shrink: 0;

}
.flex-container {
    flex-direction: column;

}
.flex-container { display: flex;
    /* flex-direction: column; */
}
    
/* este seletor seleciona todas as divs dentro de
.flex-container */
.flex-container div { background: peachpuff; 
    border: 4px solid brown; 
    height: 80px;
    flex: 1 1 auto;
}
.container { height: 140px; padding: 16px; background: plum;

    border: 4px solid indigo; display: flex;

}


.item {
width: 60px; height: 60px;
border: 4px solid darkslategray; 
background: skyblue;

}

.threeway_flex { display: flex;
    flex-direction: row; background-color: green; text-align:center;
}
    
.threeway_flex > div { background-color: #f4f4f4; width: 100px; height:100px;
    margin: 10px; font-size: 40px;
}

.threeway_flex { display: flex; flex-wrap: wrap;
        background-color: green; 
        text-align:center;
}
        
.threeway_flex > div { background-color: #f4f4f4; 
    width: 100px; 
    height:100px;
    margin: 10px; 
    font-size: 40px;
}

.flex1 { display: flex;
        justify-content: center; 
        background-color: green;
}
            
.flex2 { display: flex;
        justify-content: space-around; 
        background-color: green;
}
            
.flex3 { display: flex;
    justify-content: space-between;
    background-color: green;
}

.flex4 { display: flex;
    justify-content: flex-start; 
    background-color: green;
}

.flex5 { display: flex;
    justify-content: flex-end; 
    background-color: green;
}

.flex-items {
background-color: #f4f4f4; 
width: 100px;
height:50px; 
margin: 10px;
text-align: center; 
font-size: 40px;
}

.flex1 { display: flex; 
    height: 200px;
    align-items: center; 
    background-color: green;
}
    
.flex2 { display: flex; height: 200px;
    align-items: baseline; 
    background-color: green;
}
    
.flex3 { display: flex; 
    height: 200px;
    align-items: stretch; 
    background-color: green;
}
    
.flex4 { display: flex; 
    height: 200px;
    align-items: flex-start; 
    background-color: green;
}

.flex5 { display: flex; 
    height: 200px;
    align-items: flex-end; 
    background-color: green;
    
}

.flex-items {
background-color: #f4f4f4; 
width: 100px;
margin: 10px;
text-align: center; 
font-size: 50px;
}
.main-container { display: flex; 
    height: 400px; 
    flex-wrap: wrap;
    align-content: space-between; 
    background-color: green;
}
    
.main-container div { background-color: #f4f4f4; 
    width: 100px;
    margin: 10px;
    text-align: center; 
    font-size: 50px;


}