@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
   
}
body {

    background-image: linear-gradient(to right, #67F4B1 , #2A99EA);
}
img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {

    text-align: justify;
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(41, 12, 12, 0.575);
    margin: auto;
    border-radius: 20px;

}
h1{
    color: #EA7E2A;
    text-align: center;
    text-shadow: 1px 1px 2px #F4CF2C;
}

h2 {
    color: #67F4B1;
}
