div.header {
margin: 0px;
background-color: brown;
color: brown;
height: 150px;
text-align: center;
margin-top: 50px;
font-size: 40px;
text-shadow: 2px 2px 4px;
/*colocar texto em caixa alta*/
text-transform: uppercase;
/*alinhamento vertical*/
display: flex;
text-align: right;
border-radius: 7px;
box-shadow: 0px 0px 20px ;
padding: 10px;

}

div.header:hover{
    transform: scale(1.1);

}

main {

width: 90px;
text-align: center;
margin-left: 5%;

}
div.menu{
    background-color: black;
    padding: 10px;
    text-align: center;

}        

div.content{
    background-color: blueviolet;
    max-width: 100px;
    max-height: 80px;
    text-align: center;
    height: 600px;
    width: 100%;
    padding: 2px;
    display: inline-flex;


}

div.footer1{
    width: 50%;
    vertical-align: baseline;
    display: inline;
    background-color: aquamarine;
    color: aliceblue;
    padding: 0px;
    margin-top: 0.5%;

}

div.footer2{
    width: 50%;
    height: 10%;
    display: inline;
    background-color: antiquewhite;
    color: blue;
    padding: 0px;
    text-align: center;
    float: right;
    vertical-align: baseline;
    margin-top: 0.5px;

}

#logo{
    width: 100px;
    height: 80px;
    margin: 10px;
    padding: 2px;

}
 h1{
    font-size: 40px;
    margin: 0%;
    display: inline;
    text-align: center;
    margin-top: 20px;
    padding: 0px;

 }

p{
    margin: auto;
    text-align: center;


}

ul{
    margin: auto;
    text-align: right;

}

li{
    text-align: end;
    display: inline;
    margin: 10px;
    font-size: 30px;


}

nav{
    margin-top: auto;
    margin-right: 0%;
    align-items: end;
}
 







