@charset "utf8";

body {
    background-image: linear-gradient(to  right,#FFFF00, #B0E0E6 );
    
}

main {
     background-color: white;
     width: 600px;
     padding: 10px;
     box-shadow: 10px 10px 10px black;
     margin: auto;
     border-radius: 30px;
    
}

h2 {
    color: #4284fffc;
    text-align: center;
}
h1 {
    color: blue;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}